:root {
    --affirmitive: lightgreen;
    --complaining: #fa9284;
    --neutral: #777;
    --accent1: #c4c5f5;
    --accent2: #b3b4e5;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    src:
        url("fonts/fira-sans-v16-latin-700.woff2") format("woff2"),
        url("fonts/fira-sans-v16-latin-700.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
        url("fonts/roboto-v30-latin-regular.woff2") format("woff2"),
        url("fonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src:
        url("fonts/roboto-v30-latin-italic.woff2") format("woff2"),
        url("fonts/roboto-v30-latin-italic.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
        url("fonts/roboto-v30-latin-500.woff2") format("woff2"),
        url("fonts/roboto-v30-latin-500.woff") format("woff");
}
@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src:
        url("fonts/inconsolata-v31-latin-regular.woff2") format("woff2"),
        url("fonts/inconsolata-v31-latin-regular.woff") format("woff");
}

* {
    font-family: Roboto, sans-serif;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
}

code,
pre,
input,
#matching,
#non-matching,
#guesses {
    font-family: "Inconsolata", monospace;
    font-size: 105%;
    padding: 0.3em;
    padding-top: 0.2em;
    border-radius: 0.4em;
    max-width: 100%;
    height: 100%;
}

pre {
    height: min-content;
    position: relative;
}

pre * {
    font-family: "Inconsolata", monospace;
}

#new-pattern-container {
    max-width: 13em;
}

#matching,
#non-matching,
#guesses {
    overflow-y: auto;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    overscroll-behavior: none;
}

input {
    width: 11.7em;
    padding: 0.3em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    border-width: 0;
    border: 1px solid gray;
    margin: 0;
}

#guess {
    width: 15em;
}

.submit-guess {
    width: 2em;
}

#copy {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: min-content;
}

button {
    width: 15em;
    max-width: 100%;
    padding: 0.3em;
    margin: 0;
    font-size: 1em;
    border: solid 2px #656565;
    border-radius: 0.25em;
    cursor: pointer;
    background: #eee;
    font-weight: bold;
    transition: background-color 0.1s;
}

button:hover:not(:disabled) {
    background: #ddd;
}

:disabled {
    cursor: not-allowed;
}

h1 {
    margin-top: 0.2em;
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

table {
    width: 100%;
    margin-bottom: 1em;
}

thead {
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ccc;
}
.affirmative {
    background: var(--affirmitive);
}
.complaining {
    background: var(--complaining);
}
.neutral {
    background: var(--neutral);
    color: white;
}

#title {
    padding: 0.5em;
    background: #c4c5f5;
    margin: 0.5em;
    border-radius: 1em;
}

#main {
    max-width: 40em;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

#main,
#sidebar {
    min-height: 40em;
    display: flex;
    flex-direction: column;
}

#sidebar {
    background: #eee;
}

#content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#sidebar {
    width: 23em;
    padding: 0.5em;
    overflow-y: auto;
}

#string-column-title {
    text-align: center;
}

#string-guess-lists {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    gap: 0.5em;
}

#positive-strings,
#negative-strings,
#regex-guesses {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#string-column {
    padding: 0.5em;
    overflow: hidden;
    display: flex;
}

#rule-column {
    flex: 1;
    padding: 0.5em;
}

#guess-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup-content {
    max-width: 30em;
    padding: 2em;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.5);
    background: #f9f9f9;
    border-radius: 0.4em;
    position: relative;
}

#popup-content input {
    width: 90%;
}

#close-button {
    cursor: pointer;
    padding: 0.5em;
    position: absolute;
    top: 0%;
    right: 1.5%;
}

#guess-hint {
    margin-top: 1em;
}

#guess-pattern-button {
    background: var(--accent1);
}

#guess-pattern-button:hover:not(:disabled) {
    background: var(--accent2);
}

#feedback {
    background: var(--accent1);
    border-radius: 1em;
    padding: 0.5em;
    margin-top: 1em;
}

#feedback h2 {
    margin-top: 0.4em;
}

#latest {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.4em;
}

#ready-row {
    text-align: center;
    padding-top: 0.5em;
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

.filler {
    flex: 1;
}

code,
pre {
    background: hsl(0, 0%, 20%);
    color: white;
    border-radius: 0.4em;
    white-space: pre-wrap;
}
code:is(.affirmative, .complaining) {
    color: black;
}

@media (max-width: 750px) {
    body {
        flex-direction: column;
    }
    body,
    #main,
    #content,
    #sidebar {
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow-y: auto;
    }
    #ready-row {
        margin: 0 0.5em;
    }
    #main {
        max-height: none;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html,
    body {
        background-color: #131313;
        color: white;
        color-scheme: dark;
    }

    td {
        border-bottom-color: #ccc;
    }

    a {
        color: #a8a8ff;
    }

    :root {
        --affirmitive: darkgreen;
        --complaining: #7a1305;
        --neutral: #444;
        --accent1: #16183a;
        --accent2: hsl(239, 49%, 30%);
    }

    button {
        border-color: #737373;
        background-color: #111;
        color: white;
        &:hover:not(:disabled) {
            background: #252525;
        }
    }
    code:is(.affirmative, .complaining) {
        color: white;
    }

    #title {
        background: var(--accent1);
    }

    #sidebar {
        background: hsl(0, 0%, 15%);
    }

    #popup-content {
        background-color: #131313;
    }
}
